<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body {
        font: 24px "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #000000;
      }
    </style>
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>
  {% for post in site.posts %}
    {% assign cur_yr = post.date | date: "%Y" %}
    {% if cur_yr != date %}
      <div id="y{{cur_yr}}"><small>{{ cur_yr }}</small></div>
      {% assign date = cur_yr %} 
    {% endif %}
        <a href="{{ post.url }}">{{ post.title }}</a><br/>
  {% endfor %}
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>
        {% if site.github.is_user_page %}
        <a href="{{ site.github.owner_url }}">My GitHub profile</a> &mdash;
        {% endif %}
        This is a GitHub Pages Page &mdash;
        Modified from <a href="https://github.com/orderedlist">orderedlist's theme</a>
        </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
